{
  "singleQuote": true,
  "editor.formatOnSave": true,
  "tabWidth": 2,
  "printWidth": 90,
  "proseWrap": "always",
  "requireConfig": false,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true
}